:root {
    --background: #c6e4e7;
    --background-box:#ffffff;
    --font-title-color: #406264;
    --number-color: #26c0ab;
    --input-background: #f4fafa;
    --placeholder:#7f9c9f;
    --label-color:#5e7a7d;
    --btn: #00494d;
    --transition: .4s;
}
* {
    margin: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    font-family: 'Space Mono', monospace;
    text-align: end;
    padding: 10px 10px;
    outline: none;
    border: 2px solid transparent;
    background-color: var(--input-background);
    border-radius: 5px;

    color: var(--font-title-color);
    font-size: 17px;
    font-weight: bold;

    width: 100%;
}
input:focus {
    border-color: var(--number-color);
}

body {
    font-family: 'Space Mono', monospace;
}

.container {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95%;
}

.container > div > div:first-child {
    flex: 1;
    padding-top: 50px;
    height: fit-content;
    text-align: center;
}
.container > div > div:first-child > .title {
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 6px;
    color: var(--font-title-color);
}
.container > div > div:first-child > div:last-child {
    background-color: var(--background-box);
    padding: 40px;
    border-radius: 20px;
}
.container > div > div:first-child > div:last-child .box {
    display: flex;
    text-align: start;
    gap: 50px;
}
.container > div > div:first-child > div:last-child .box > .bill-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* .container > div > div:first-child > div:last-child .box > .bill-info form {

} */
.bill-info form .bill,
.bill-info form .number-of-people {
    display: flex;
    flex-direction: column;
}
.bill-info form .bill div,
.bill-info form .number-of-people div:last-child {
    position: relative;
}
.bill-info form .number-of-people > div:first-child{
    display: flex;
    justify-content: space-between;
}
.the-tips {
    display: flex;
    flex-direction: column;
}
.the-tips .tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.the-tips .tips button {
    padding: 8px 25px;
    color: white;
    background-color: var(--btn);
    outline: none;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: 700;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}
.the-tips .tips button:hover {
    color: var(--btn);
    background-color: hsla(172, 67%, 45%, 0.577);
}
.the-tips .tips button.this-tip {
    color: var(--btn);
    background-color: var(--number-color);
}
.the-tips .tips input {
    height: 35px;
    width: 90px;
    /* padding: 8px 25px; */
    text-align: start;
}
.the-tips .tips input::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}
.bill-info form .bill label,
label.n-p,
.the-tips label {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
    color: var(--label-color);
}
.number-of-people > div:first-child {
    display: flex;
    justify-content: space-between;
}
.bill-info form .bill div img,
.bill-info form .number-of-people div:last-child img {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-93%,-50%);
    width: 10px;
}
.bill-info form .bill input,
.bill-info form .number-of-people input {
    width: 100%;
}
.bill-info form .bill input::placeholder,
.bill-info form .number-of-people input::placeholder {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--placeholder);
}
.number-of-people > div:last-child,
.bill > div {
    position: relative;
}
.number-of-people > div:last-child img,
.bill > div img{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-92%, -50%);
}

.n-p + span {
    display: none;
}
.n-p + span.error {
    font-size: 11px;
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Space Mono', monospace;
    display: inline-block;
}
input.error {
    border-color:red;
}


/* Result */
.result {
    background-color: #00494d;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 300px;
    text-align: start;
    padding:25px 32px;
    border-radius: 15px;
}
.result > div {
    display: flex;
    justify-content: space-between;
}
.result > div h5 {
    color: var(--background);
    font-size: 11px;
    margin-top: 5px;
}
.result > div h2 {
    font-size: 30px;
    color: var(--number-color);
}
.result > button {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--btn);
    background-color: var(--number-color);
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 9px 10px;
    margin-top: 75px;
    opacity: .2;
    transition: var(--transition);
}
.result > button.possible {
    cursor: pointer;
    opacity: 1;
}
.result > button.possible:hover {
    background-color: var(--background);
}
/*--- Result ---*/
